

# dependencies
/frontend/node_modules
/frontend/.env.development
/frontend/.env.production
/Backend/node_modules
/Backend/.env


# production
/FrontEnd/build

# env

#excel file
/Backend/uploads/.xlsx
