<div
	style="
		position: relative;
		min-width: 100%;
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	"
>
	<table>
		<tr>
			<td style="display: flex; justify-content: center">
				<div>
					<img
						width="350px"
						src="https://www.gersalogistics.com.mx/front/imagenes/logotipo-colores.png"
						alt="logo"
					/>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div
					style="
						width: auto;
						height: auto;
						background-color: #ffffff;
						border: 1px solid #aea7a7;
						border-radius: 10px;
					"
				>
					<table
						style="
							padding: 5%;
							justify-content: center;
							font-family: Arial, Helvetica, sans-serif;
						"
					>
						<tr>
							<tr>
								<td>
									<label style="color: #0f4257; font-size: 3rem; font-weight: bold">
										¡Hola @UserName!
									</label>
								</td>
							</tr>
							<tr>
								<td>
									<div
									style="
										position: relative;
										width: 50px;
										height: 10px;
										background-color: #0f4257;
										margin-bottom: 1rem;
									"
									></div>
								</td>
							</tr>
						</tr>
						<tr>
							<td>
								<label style="font-size: 1.5rem; width: 80%"
								>Alguien ha solicitado un enlace para cambiar su contraseña, lo que se
								puede realizar a través del siguiente enlace</label>
							</td>
						</tr>
						<tr style="height: 90px;">
							<td>
								<a
								style="
									text-decoration: none;
									padding: 20px 10px;
									margin-bottom: 2rem;
									background-color: #0f4257;
									color: #ffffff;
									width: 250px;
									font-size: 1.2rem;
									border-radius: 12px;
									text-align: center;
								"
								href="http://localhost:3000/recuperacion"
								>Cambiar mi contraseña</a>
							</td>
						</tr>
						<tr>
							<td>
								<label
								style="
									font-size: 1.5rem;
									width: 80%;
									margin-bottom: 1rem;
									color: #999999;"
								>Si usted no lo ha solicitado, por favor ignore este correo
									electrónico.
								</label>
							</td>
						</tr>
						<tr>
							<td>
								<label
								style="
									font-size: 1.5rem;
									width: 80%;
									margin-bottom: 2rem;
									color: #999999;"
								>Su contraseña no será cambiada hasta que usted acceda en el enlace y
								creé una nueva.
								</label>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>
