/* ++++++++++++++++++++++EmpleadosPage++++++++++++++++++++++++++++++++ */
.custm-tableEmpleados {
	width: 100%;
	border-radius: 10px;
	background-color: var(--backgroundPrimary);
	border: 1px solid var(--textColorDisable);
	overflow: hidden;
}
.custm-tableArchivos {
	width: 90%;
	border-radius: 10px;
	background-color: var(--backgroundPrimary);
	border: 1px solid var(--textColorDisable);
	overflow: hidden;
}
.custm-tableHead {
	background-color: #f4f4f5;
	border-bottom: 1px solid var(--textColorDisable);
}
.custm-tableSearchBar {
	width: 100%;
	min-height: 5rem;
	display: flex;
	padding: 10px 0px;
}
.custm-inputSearch {
	/* background-color: tomato; */
	max-width: 300px;
	border-radius: 10px;
	margin-left: 10px;
}
.cutm-tablaResponsive {
	background-color: transparent;
	min-height: 50vh;
	max-height: 50vh;
	overflow-y: auto;
}
.custm-tableThead {
	background-color: #f4f4f5;
	height: 3rem;
}
.custm-table-tr {
	height: 4rem;
}
.custm-table-tr:hover {
	cursor: pointer;
}
.custm-table-tr td {
	vertical-align: middle;
}
.custm-table-tr th {
	vertical-align: middle;
}
.custm-imgCount {
	background-color: var(--colorSecondary);
	width: 30px;
	height: 30px;
	color: var(--backgroundBody);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.custm-icon {
	color: var(--textColorLight);
	font-size: 14px;
	margin: 5px 10px 0 5px;
}
.custm-icon:hover {
	cursor: pointer;
}
.custm-col {
	min-width: 120px;
}
/* Pagination */
.paginationStyles {
	height: 4rem;
	height: auto;
}

.pagenumbers button {
	width: 25px;
	height: 25px;

	appearance: none;
	border: none;
	outline: none;
	cursor: pointer;

	background-color: transparent;

	margin: 5px;
	transition: 0.4s;

	color: gray;
	font-size: 1rem;
}

.pagenumbers button:hover {
	background-color: lightgray;
	color: #000;
}

.pagenumbers button.active {
	/* background-color: #44EEAA; */
	color: #000;
	font-weight: bold;
	/* box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2); */
}

/* ++++++++++MediaQuerys+++++++++++++++ */
@media (max-width: 991px) {
}
/* tamaño maximo de la pantalla */
@media (max-width: 848px) {
}
/* tamaño maximo de la pantalla */
@media (max-width: 420px) {
	.custm-inputSearch {
		max-width: 80%;
	}
}
