.custm-arrowLeft {
	position: absolute;
	top: 20px;
	left: 25px;
	text-decoration: 'none';
	font-size: 2rem;
	color: var(--textColorSecondary);
}
.custm-msngRecuperar {
	/* background-color: #53b6c7; */
	/* color: var(--colorPrimary); */
	color: rgb(47, 128, 153);

	border-radius: 8px;
	padding: 5px;
	text-align: center;
	font-weight: 300;
}

@media (max-width: 572px) {
	.custm-btnRecuperar {
		font-size: 16px;
	}
}
