* {
	box-sizing: border-box;
	--backgroundPrimary: #f6f6f6;
	scroll-behavior: smooth;
}
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--backgroundPrimary);
}

.containerApp {
	max-width: 1800px;
}
