* {
	--backgroundBody: #f4f4f5;
	--backgroundPrimary: #ffffff;

	--colorPrimary: #fff;
	--colorSecondary: #0f4257;
	--colorSecondaryHover: #14536e;
	--colorOptionHover: #eaeaea;
	--colorSecondaryActive: #086086;
	--colorVerde: #1ed600;

	--colorBackgroundForm: #f6f6f6;
	--colorBorderForm: #eaeaea;

	--textColorPrimary: #000000;
	--textColorSecondary: #0f4257;
	--textColorLight: #888888;
	--textColorDisable: #d1d1d1;
	--textColorError: #f4524f;
	--textColorError2: #ff0062;
	--textColorLink: #048edf;

	--inputColorPrimary: #ebebeb;

	--gersaColorPrimary: #213b7e;
	--gersaColorSecondary: #73a8d6;

	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--backgroundBody);
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.flex {
	display: flex;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.containerProject {
	animation: fadein 0.5s ease-in;
	min-height: 100vh;
	height: auto;
	min-width: 216px;
}
.custm-Width100 {
	width: 100%;
}
.loadingContainer {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}
.textColorLight {
	color: var(--textColorLight);
}
.textColorError {
	color: var(--textColorError);
}
.textColorError2 {
	color: var(--textColorError2);
}
.textColorSecondary {
	color: var(--textColorSecondary);
}
.textColorPrimary {
	color: var(--textColorPrimary);
}

.inputSubmit {
	width: 100%;
	border: none;
	background-color: var(--colorSecondary);
}
.inputSubmit:hover {
	background-color: var(--colorSecondaryHover);
}
.inputSubmit:focus {
	background-color: var(--colorSecondaryHover);
}
.inputSubmit:active {
	background-color: var(--colorSecondaryActive);
}
.custm-btnEliminar {
	background-color: var(--textColorError2);
	padding: 5px 20px;
	color: var(--backgroundBody);
	border-radius: 15px;
}
.custm-btnEliminar:hover {
	background-color: #ff3783;
	color: var(--backgroundBody);
}
