.custm-empleadoNavLink {
	text-decoration: none;
	color: var(--textColorSecondary);
	transition: ease-in-out 0.2s;
}
.custm-empleadoNavLink:hover {
	cursor: pointer;
	color: var(--textColorSecondary);
	transform: scale(0.94);
}
.custm-empleadoNavLink-Active {
	border-bottom: 2px solid var(--textColorSecondary);
}

.custm-empleadoContainerContent {
	/* border: 1px solid teal; */
	padding: 1rem;
	min-width: 300px;
	width: 50%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.custm-underLineTittle {
	margin-top: 7px;
	margin-bottom: 15px;
	width: 60px;
	height: 2px;
	background-color: var(--textColorLink);
}
.custm-UnderLineSection {
	padding-top: 2rem;
	border-bottom: 1.5px solid var(--textColorDisable);
	padding-bottom: 3rem;
}
/* +++++PageEmpleadoPErfil++++ */
.custm-textSendInvitation {
	margin: 0px 30px 0px 30px;
}
.custm-btnSendInvitation {
	border-radius: 25px;
	padding: 10px 3rem;
	border: 1px solid #ffffff;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	transition: ease-in 0.1s;
}
.custm-btnSendInvitation:hover {
	transform: scale(0.98);
	border: 1px solid #ffffff;
	box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ++++++++++Formulario Styles+++++++++++++++ */
.custm-empleadoFormContainer {
	background-color: var(--colorBackgroundForm);
	border: 1px solid var(--colorBorderForm);
	border-radius: 12px;
	padding: 5px;
	padding-bottom: 15px;
	width: 97%;
}
.custm-btnToggle {
	transition: ease-in 0.1s;
}
.custm-btnToggle:hover {
	transition: ease-in 0.1s;
	transform: scale(0.9);
}
.custm-empleadoFormIntput {
	border-radius: 10px;
}
.custm-empleadoFormSubmit {
	background-color: var(--colorPrimary);
	border: 2px solid var(--colorSecondary);
	color: var(--textColorSecondary);
	padding: 0px 1.5rem;
	border-radius: 15px;
	height: auto;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	transition: ease-in 0.1s;
}
.custm-empleadoFormSubmit:hover {
	background-color: var(--colorPrimary);
	color: var(--textColorSecondary);
	transform: scale(0.98);
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
}
.custm-btnWeek {
	background-color: var(--colorPrimary);
	color: var(--colorSecondary);
	border: 2px solid var(--colorSecondary);
	border-radius: 25px;
	width: 5%;
}
.custm-btnWeek:hover {
	background-color: #a8cbff;
}

.custm-checkWeek:checked + .custm-btnWeek {
	background-color: var(--colorSecondary);
	border: 2px solid var(--colorSecondary);
}

/* Contratos */
.custm-contractContainerCenter {
	width: 100%;
	background-color: var(--colorBackgroundForm);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	overflow-x: auto;
}
.custm-contractContainer {
	width: 100%;
	max-width: 1000px;
	background-color: var(--colorBackgroundForm);
	display: flex;
	align-items: center;
	gap: 15px;
	overflow-x: auto;
	scrollbar-color: var(--colorSecondary) transparent;
	scrollbar-width: thin;
}
.custm-contractContainer::-webkit-scrollbar {
	-webkit-appearance: none;
}
.custm-contractContainer::-webkit-scrollbar {
	height: 8px;
}
.custm-contractContainer::-webkit-scrollbar-thumb {
	background-color: var(--colorSecondary);
	border-radius: 40px;
}

.custm-contract {
	background-color: #ffffff;
	width: 110px;
	height: 150px;
	border: 3px solid var(--colorSecondary);
	border-radius: 15px;
	position: relative;
	margin: 10px;
}
.custm-contract:hover {
	cursor: pointer;
}
.custm-contractDate {
	position: absolute;
	background-color: var(--colorSecondary);
	top: -25px;
	width: 85px;
	height: 25px;
	left: 50%;
	transform: translatex(-50%);
	border-radius: 10px 10px 0px 0px;
	color: #ffffff;
	font-size: 10px;
}
.custm-contractLine {
	position: relative;
	width: 60px;
	height: 5px;
	margin: 5px;
	padding: 4px;
	background-color: var(--textColorDisable);
	border-radius: 15px;
}
.custm-contractLine2 {
	position: relative;
	width: 40px;
	height: 5px;
	margin: 5px;
	padding: 4px;
	background-color: var(--textColorDisable);
	border-radius: 15px;
}
.custm-contractBtnPlus {
	width: 30px;
	height: 30px;
	background-color: var(--colorPrimary);
	border-radius: 50%;
	border: 2px solid var(--colorSecondary);
	color: var(--colorSecondary);
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 991px) {
	.custm-empleadoContainerContent {
		padding: 0rem;
		min-width: 200px;
		width: 100%;
	}
}

@media (max-width: 454px) {
	.custm-textSendInvitation {
		margin: 0px 0px 0px 0px;
	}
	.custm-btnSendInvitation {
		padding: 10px 2rem;
		font-size: 12px;
	}
}
