.sidebar-sticky {
	height: 100vh;
	width: 250px;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}
.dashboardContainer {
	background-color: transparent;
	width: 100%;
	height: 100%;
}

@media (max-width: 768px) {
	.dashboardContainer {
		margin-top: 3rem;
	}
}
