.sidebar-sticky {
	height: 100vh;
	width: 250px;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}
.custm-dashboardContainer {
	/* background-color: rgb(210, 255, 253); */
	width: 100%;
	height: 100%;
	/* overflow-x: hidden; */
	display: flex;
	justify-content: center;
}

@media (max-width: 768px) {
	.dashboardContainer {
		margin-top: 3rem;
	}
}
